# Server Configuration
PORT=7000
NODE_ENV=production

# JWT Configuration
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=user_management

FRONTEND_URL=""
RUN_SEEDS=true

# Auth0
AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_AUDIENCE=https://user-management-api
AUTH0_MANAGEMENT_CLIENT_ID=your_management_client_id
AUTH0_MANAGEMENT_CLIENT_SECRET=your_management_client_secret
AUTH0_INVITE_CLIENT_ID=your_regular_web_app_client_id
AUTH0_DB_CONNECTION=Username-Password-Authentication
AUTH0_INVITE_REDIRECT_URL=http://localhost:5173
