# Server Configuration
PORT=7000
NODE_ENV=production

# JWT Configuration
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=user_management

FRONTEND_URL=""
RUN_SEEDS=true

# Auth0
AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_CLIENT_ID=your_frontend_auth0_client_id
AUTH0_AUDIENCE=https://user-management-api
AUTH0_M2M_CLIENT_ID=your_m2m_client_id
AUTH0_M2M_CLIENT_SECRET=your_m2m_client_secret
AUTH0_MANAGEMENT_AUDIENCE=https://your-tenant.us.auth0.com/api/v2/
AUTH0_DB_CONNECTION=Username-Password-Authentication
AUTH0_APP_CLIENT_ID=your_frontend_auth0_client_id
APP_LOGIN_URL=http://localhost:5173/login
